.ct-ctn {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    align-items: center;
    justify-content: center;
    gap:0;
    
}
@media (max-width: 630px) {
    .ct-ctn {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 480px) {
    .ct-ctn {
        grid-template-columns: 95%;
    }
}